*, html { /*reset default margins and padding*/
    margin:0;
    padding:0;  
 }

 #back {
    background-color: #FAF1A8;
    padding: 0%;
    margin: 0%;
  }
 
  #backButton {
    padding: 0.25% 0.75%;
    margin: 1%;
  }
 
  #backButton:hover {
    cursor:pointer;
  }

  #createAProduct {
    background-color: #FAF1A8;
  }