*, html { /*reset default margins and padding*/
    margin:0;
    padding:0;  
 }

 /*Header*/

 nav {
    background-color: #F6E086;
    overflow: hidden;
    padding: 1% 2%;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    top: 0;
    position: sticky;
}

 ul {
    float: right;
}

nav li {
    display: inline;
    padding: 8px 15px;
    border-radius: 8px;
}

nav li img {
    position: relative;
    top: 5px; /* Adjust as needed */
}

nav li.basic:hover {
    background-color: white;
}



nav button {
    padding: 8px 15px;
    border: 1px solid black;
    border-radius: 8px;
    border:none;
    color:white; 
}

a {
    color: black;
    text-decoration: none; /* no underline */
  }

#signIn {
    background-color: #ba8b2e;
}

#signIn:hover {
    background-color: #a57b28;
    cursor: pointer;
}

#register {
    background-color: #984325;
}

#register:hover {
    background-color: #81371d;
    cursor: pointer;
}

/*Footer*/

footer {
    background-color: #066f62;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

table {
    font-family:Arial, Helvetica, sans-serif;
    /* margin: 2%; */
}

footer td {
    padding: 2%;
}

footer a {
    color: #9ccec7;
}

#copyright {
    color: #9ccec7;
    margin: 2% 0%;
}

footer a:hover {
    text-decoration: underline;
    cursor:pointer;
}

/*Logo font*/

@font-face {
    font-family: "CustomLogoFont";
    src: url("./fonts/BRUSHSTP.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}