*, html { /*reset default margins and padding*/
    margin:0;
    padding:0;  
 }


#bannerContainer {
    overflow: hidden;
    /* background-color: #F6E086; */
    background-image: linear-gradient(to bottom, #F6E086 30%, white);
}

#bannerContainer img {
    object-fit: cover; /* Crops without resizing */
    width: 100%;
    height: 200px;
}

#banner1 {
    object-position: 50% 25%;
}

#banner2 {
    object-position: 50% 33%;
}

#banner3 {
    object-position: 50% 25%;
}

#bannerContainer h1 {
    font-size: 3em;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color:white;
}

#searchBar {
    margin: 50px;
    border: none;
    border-radius: 20px;
    background-color: #cb9b52; 
    padding: 20px 20px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;              
    justify-content: flex-start; 
    align-items: center; 
   
}

#searchBar input {
    border: none; 
    border-bottom: 1px solid #a17113;
    background: transparent;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 20px;
    width: 300px;
}

#searchBar input:focus {
    outline: none;
    border: none;
}

::placeholder {
    color: white;
    opacity: 1; 
  }

#searchBar li {
    display: inline;
    padding: 8px 15px;
}

#searchBar li:hover {
    text-decoration: underline;
    cursor:pointer;
}

#productsContainer {
    background-color: #F6E086;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom, #FDF7DF, #F6E086);
}

.card {
    width: 200px;
    height: 300px;
    background-color: white;
    margin: 50px;
    padding-top: 20px;
    border-radius: 15px;
}

.card:hover {
    cursor: pointer;
    box-shadow:  6px 5px 20px 1px rgba(0,0,0,0.22);
}

.card h3:hover {
    cursor: pointer;
    text-decoration: underline;
}

.card img {
    display: block;
    object-fit:cover;
    width: 150px;
    height: 150px;
    margin: auto;
}

.cardText {
    margin: auto;
    padding: 20px;
}

.cardText p {
    padding-top: 5px;
    padding-bottom: 5px;
}
