*, html { /*reset default margins and padding*/
    margin:0;
    padding:0;  
 }


nav {
    background-color: #F6E086;
    overflow: hidden;
    padding: 2%;
    font-family:Arial, Helvetica, sans-serif;
}

 ul {
    float: right;
}

nav li {
    display: inline;
    padding: 8px 15px;
    border-radius: 8px;
}

nav li img {
    position: relative;
    top: 5px; /* Adjust as needed */
}

nav li.basic:hover {
    background-color: white;
}



nav button {
    padding: 8px 15px;
    border: 1px solid black;
    border-radius: 8px;
    border:none;
    color:white; 
}

a {
    color: black;
    text-decoration: none; /* no underline */
  }

#signIn {
    background-color: #ba8b2e;
}

#signIn:hover {
    background-color: #a57b28;
}

#register {
    background-color: #984325;
}

#register:hover {
    background-color: #81371d;
}

#bannerContainer {
    overflow: hidden;
    /* background-color: #F6E086; */
    background-image: linear-gradient(to bottom, #F6E086 30%, white);
}

#bannerContainer img {
    object-fit: cover; /* Crops without resizing */
    width: 100%;
    height: 200px;
}

#banner1 {
    object-position: 50% 25%;
}

#banner2 {
    object-position: 50% 33%;
}

#banner3 {
    object-position: 50% 25%;
}

#bannerContainer h1 {
    font-size: 3em;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color:white;
}

#searchBar {
    margin: 50px;
    border: none;
    border-radius: 20px;
    background-color: #cb9b52; 
    padding: 20px 20px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;              
    justify-content: flex-start; 
    align-items: center; 
   
}

#searchBar input {
    border: none; 
    border-bottom: 1px solid #a17113;
    background: transparent;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 20px;
    width: 300px;
}

#searchBar input:focus {
    outline: none;
    border: none;
}

::placeholder {
    color: white;
    opacity: 1; 
  }

#searchBar li {
    display: inline;
    padding: 8px 15px;
}

#searchBar li:hover {
    text-decoration: underline;
    cursor:pointer;
}