*, html { /*reset default margins and padding*/
    margin:0;
    padding:0;  
 }

 .productImageContainer {
    /* border: 1px solid black; */
 }

 #productDetailsPage {
    display: grid;
    grid-template-columns: 35% auto;
    background-color: #FAF1A8;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: auto;
 }

 #productDetailsPage img {
    margin: 4%;
    width: 80%;
 }

 .productInfo {
    padding: 5%;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #fff7e8;
    border-radius: 25px;
    margin-right: 10%;
 }

 .productInfo a:hover {
    cursor: pointer;
    text-decoration: underline;
 }

 .productInfo p {
    padding: 2% 0%;
 }

 #productSeller {
    display: flex;
    flex-direction: row;
    align-items: center;
 }

 #productSeller h1 {
    font-size: 2em;
 }

 #productSeller h2 {
    font-size: 1.25em;
 }

 #productSeller img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
 }

 .productInfo button {
    width: 30%;
    height: 8%;
    font-size: 1em;
    border-radius: 10px;
    border: none;
    background-color: #6a862f;
    color: white;
 }

 .productInfo button:hover {
    background-color: #3f803f;
    cursor: pointer;
 }

 .productInfo label span {
    color:red;
 }

 .productInfo input {
    margin: 1% 0% 2% 0%;
    padding: 1%;
    border: 1px solid grey;
    border-radius: 10px;
 }

 .productInfo input:focus {
    outline: none;
    border: 2px solid #246224;
 }

 /*Logo font*/

/* @font-face {
    font-family: "CustomLogoFont";
    src: url("fonts/BRUSHSTP.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} */

@font-face {
   font-family: "LogoFont";
   src: url("/fonts/ProtestRevolution-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}