/* css variables: var(--name, value)*/
:root{
    --mainYellowColor: #F6E086;
}
body{
    background-color: black;
    max-width: 100%;
}
nav .flexbox_nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
nav .flexbox_child{
    background-color: #F5F5F5;
    border-style: none;
    margin: 1em 5px 0 5px;
}
nav .flexbox_child:hover{
    background-color: darkgrey;
    color: white;
    border-style: none;
}

main {
    margin: none !important;
}

main .flexbox_main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main figure img {
   object-fit: cover;
   width: 300px;
   height: 700px;
}
main figure div{
    width: 300px;
    height: 700px;
    background-color: #FAF1A8;
}
main figure{
    margin: 0px;

}


/*css for sign up box*/
.flex_column{
    display: flex;
    justify-content: flex-start;
    align-items: center; /*centers column*/
    flex-direction: column;
}
.signup_box
{
   padding: 20px;
    background-color: #F5F5F5;
    border-radius: 10px;
}


.signup_title
{
   font-size: 5em;
   color:white;
}
.signup_box p
{
    position: relative;
}

 
#home{
    position: absolute;
    margin-right: 100px;
    margin-left: 5px;
    width: 30px;
    height:30px;
    
}
nav {

    background-color: var(--mainYellowColor);
    padding: 10px;
    /* margin-bottom: 1em; */
   
}
main{
    background-color: #F5F5F5;
}

.signup_box button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #6a862f;
}

.signup_box button:hover {
    cursor: pointer;
    background-color: #3f803f;
}

.signup_box input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
}